head,body {
    /*background:#000000;*/
    color:#ffffff;
    background:#404040
}
.hoofdpagina {
    background-image: url(https://th.bing.com/th/id/OIP.uh0N9ks0D5Ssk7wWaq7BhQHaEK?w=280&h=180&c=7&r=0&o=5&pid=1.7);
    background-repeat: no-repeat;
    background-size: cover;
    height:480px;
    background-position: center;
    border-radius: 10px;
}
.pleft {
    float: left;
    margin:0px;
    font-size:14px;
    margin-right:6px
}
.buttonleft {
    float: left;
    font-size:10px;
    margin-right: 6px;
    background: none;
    color:#ffffff;
}
.newbutton {
    font-size:10px;
    margin-right: 6px;
    background: none;
    color:#ffffff;
}
.buttonright { 
    float: right;
    font-size:10px;
    margin-left:6px;
    background: none;
    color:#ffffff;
}
.input {
    float:unset;
    font-size: 10px;
    background:none;
}
.input:focus{
    background-color: #ffffff;
    color:#000000;
}
.buttonleft:hover {
    background-color: #ffffff;
    color:#000000;
}
.newbutton:hover {
    background-color: #ffffff;
    color:#000000;
}
.buttonright:hover {
    background-color: #ffffff;
    color:#000000;
}
.buttonright { 
    float: right;
    font-size:10px;
    margin-left:6px;
    background: none;
    color:#ffffff;
}
.foto0 {
    background-image: url(https://th.bing.com/th/id/OIP.uh0N9ks0D5Ssk7wWaq7BhQHaEK?w=280&h=180&c=7&r=0&o=5&pid=1.7);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    height: 160px;
    width:32vw;
    margin-top:40px;
}
.subtekst0 {
    width:32vw;
}
.container {
    display:flex;
}
.buttons {
    flex:none;
}
/* display: flex plaatst alle knoppen onder elkaar, dit staat hier gewoon zodat je dit weet. */