<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="chat.css" />
    <script src="chat.js"></script>
</head>
<body>
    <div id="login_container">
    <label for = "username">USERNAME</label>
    <input id = "username" name = "username">
    <br>
    <button id = "login_button">L0GIN</button>
    </div>
    <div id = "chat_container" class="hidden">
        <div id = "chat">
            
        </div>
        <div id="chat-input">
            <div>
                <span id="username_indicator"></span>
                <input id = "chatbox" />
                <button id="chat_submit">SEND</button>
            </div>
        </div>
    </div>

</body>
</html>